/* تفکیک‌شده از book-2-ml.html — فقط متغیرهای اختصاصی همین صفحه */
:root{
    --watermark-size: 190px;
    --watermark-top: 90px;
    --watermark-right: 30px;
    --watermark-letter-spacing: -2px;
    --icon-size: 200px;
    --icon-rule-height: 200px;
    --bottom-padding: 80px 90px 90px 90px;
  }
